.buttonTracks {
    background-color: transparent;
    color: #C5C6C7;
    cursor: pointer;

    .tile {
        display: flex;
        margin-right: 20px;
        padding: 10px;
        margin-bottom: 25px;
        padding-right: 150px;
        border: 2px solid transparent;
        
        &:hover {
            border: 2px solid #66FCF1;
        }
        img {
            height: 50px;
            width: 50px;
        }
        span {
            display: flex;
            align-items: center;
            margin-right: 10px;
        }

        .text-tile {
            text-align: left;
            h5{
                margin-top: 4px;
                margin-bottom: 1.5px;
                font-size: 17px;
            }
            h6{
                font-size: 17px;
                color: #9b9b9b;
            }
        }
    }
}