
.playlistCompStyle{
    background-color: #1F2833;
    margin-bottom: 500px;
    margin-top: 30px;
    margin-right: 10px;
    cursor: pointer;
        padding: 5px;
        border: 2px solid transparent;
        &:hover {
            border: 2px solid #66FCF1;
        }
    img{
        margin-bottom: 10px;
    }
    h1{
        font-size: 20px;
        color: #C5C6C7;
        
    }
}