.ModalSettings{
    h1{
        font-size: 20px;
        font-weight: 500;
    }
    .ButtonC{
        display: flex;
        flex-direction: column;
        margin-top: 110px;
        a{
            margin-bottom: 20px;
            padding: 4px;
            font-weight: 300;
            font-size: 17px;
            &:hover{
                background-color: #2d3a4a;
                color: #C5C6C7;
            }
        }
        
    }
    
}
.buttonImg {
    position: absolute;
    transform: translateY(-160%);
    width: 35px;
    height: 35px;
    margin-left: 1135px;
    border-radius: 50%;
    cursor: pointer;

    img {
      width: 45px;
      height: 45px;
      border-radius: 35%;
    }

  }
