.myModal{
    position: fixed;
    display: none;
    margin-bottom: 30px;
    right: 8.3%;
    top: 10%;
    animation-name: animModal;
    animation-duration: 1s;
}

.myModalContent{
    display: flex;
    width: 470px;

}
.myModal.active{
    display: block;
    text-align: left;
}
.styleModalOfPlaylist{
    i{
        position: absolute;
        right: 0%;
        top: 5%;
        cursor: pointer;
    }
    h6{
        opacity: .6;

    }
}

@keyframes animModal {
    from{
        transform: translateX(150px);
    }
    to{
        transform: translateX(0px);
    }
}
