* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
}


.MainLink {
    border-right: 1px solid #0B0C10;
    border-bottom: 1px solid #0B0C10;
    h1 {
        padding-top: 3rem;
        margin-bottom: 15px;
        font-size: 50px;
    }

    ul {
        display: flex;
        li {
            margin-right: 5rem;
            margin-bottom: 15px;
            border-bottom: 2px solid transparent;

            &:hover {
                border-bottom: 2px solid #66FCF1;
            }
        }
    }
}

.main {
    border-right: 1px solid #0B0C10;
    border-bottom: 1px solid #0B0C10;
    .buttonMain {
        display: block;
        margin: 0 auto;
        padding-top: 8rem;
        margin-bottom: 8rem;
        font-size: 35px;
        background-color: transparent;
        color: #C5C6C7;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        &:hover{
            transform: scale(1.05);
        }
        i {
            width: 50px;
        }
    }
}