@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap');
$Font-family: 'Rubik', sans-serif;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  font-family: $Font-family;
  font-weight: 400;
}
.main-section{
  display: flex;
  
}
.all-info{
  margin-left: 80px;
  margin-right: 120px;
  padding-right: 481px;
  padding-left: 30px;
  background-color: #1F2833;
  color: #C5C6C7;
  

  img{
    height: 200px;
    width: 200px;
  }
}
button{
  font-family: $Font-family;
  font-weight: 400;
}
a {
  color: #C5C6C7;
  &:hover{
    color: #66FCF1;
  }
}












