.footer {
    border-top: 1px solid #0B0C10;
    width: 1400px;

    ul {
        display: flex;
        margin-top: 30px;
        padding-bottom: 30px;

        li {
            margin-right: 100px;
            border-bottom: 2px solid transparent;
            &:hover{
                border-bottom: 2px solid #66FCF1;
            }
        }
    }
}